<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Cuidadores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Información de los cuidadores</h1>
        <p class="contador">Actualmente hay <strong>{{contador_cuidadores}}</strong> cuidadores.</p>
        <a href="/"><button id="volver" class="btn">Volver</button></a>
        <div class="perros-info">
            {{ cuidadores_info | safe }}
        </div>
    </div>
    <button id="modo-nocturno-btn" onclick="toggleModoNocturno()">Modo Nocturno</button>
    <script>
        function toggleModoNocturno() {
            document.body.classList.toggle('noche');
        }
    </script>
</body>
</html>